---
import { Image } from "astro:assets"
import Layout from "../Layouts/Layout.astro"
import Article from "../components/Article.astro"
import Text from "../components/Text.astro"
import Avatar from "@img/avatar-jessica.jpeg"
import Links from "../components/Links.astro"
---

<Layout pageName="Blog Preview Card">
		<h1>Astro</h1>
		<Article class="links">
			<Image src={Avatar} loading="eager" width={102} height={102} alt="Jessica photo on view side" />
			<Text>
				<h2 slot="title">Elchico</h2>
				<h3 slot="location">Mérida, México</h3>
        <p slot="paragraph">"Front-end developer and avid reader." </p>
			</Text>
			<div class="links-container">
				<Links class="link" title="Github" link="https://github.com/elchico"/>
				<Links class="link" title="Frontend Mentor" link="https://github.com/elchico"/>
				<Links class="link" title="LinkedIn" link="https://github.com/elchico"/>
				<Links class="link" title="Twitter" link="https://github.com/elchico"/>
				<Links class="link" title="Instagram" link="https://github.com/elchico"/>
			</div>
	</Article>
</Layout>

<style is:global>
	html{
		font-family: 'Inter', sans-serif;
		background-color: #000;
		text-align: center;
	}
	.links{
		background-color: #181817;
		width: 100%;
		max-width: 330px;
		padding: 2.5rem !important;
	}
	p, h2, h3{
		margin: 0;
	}
	h3 {
		color: #bdc009;
		margin-bottom: 10px;
		font-weight: 700;
	}
	h2{
		font-weight: 900;
		color: white;
	}
	
	p{
		color: #7D889E;
		font-weight: 500;
		font-size: calc(13px + 0.24vw);
		line-height: 1.5;
	}
	.links-container{
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 100%;
		margin: 0 auto;
	}
	.link{
		text-decoration: none;
		background-color: #53524c;
		padding-block: 10px;
		border-radius: 7px;
		color: white;
		font-weight: 600;
	}
	div{
		width: auto;
		margin-block: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	img{
		border-radius: 50%;
	}
	@media screen and (min-width: 429px) {
		
	}
</style>