---
import Layout from "../Layouts/Layout.astro"
import Article from "../components/Article.astro"
import Info from "../components/Info.astro"
import Text from "../components/Text.astro"
import User from "../components/User.astro"
import Blogimage from "../svg/blogimage.astro"
---

<Layout pageName="Blog Preview Card">
		<h1>Astro</h1>
		<Article class="blogpre">
			<Blogimage class="svgimg"/>
			<Text>
				<Info/>
				<h2 slot="title">Dominando Astro</h2>
        <p slot="paragraph">En los últimos meses he adoptado esta tecnología en pro de crear webs de contenido atractivas, rápidas y que satisfagan las necesidades de clientes sin denigrar la experiencia de desarrollo. </p>
			</Text>
			<User/>
		</Article>
</Layout>

<style is:global>
	html{
		background-color: #D5E1EF;
		text-align: left;
	}
	h2{
		color: #1F314F;
		font-weight: 700;
	}
	p{
		color: #7D889E;
		font-weight: 200;
	}
	div{
		width: auto;
		margin-block: 1.5rem;
	}
	img{
		border-radius: 15px;
	}
	.svgimg{
		border-radius: 15px;
	}
	.blogpre{
		height: 497px;
    width: 336px;
	}
</style>