<span>Learning</span>
<p>Published 27 May 2024</p>

<style>
  span{
    font-weight: 800;
    padding: 0.5rem;
    background-color: #F4D04E;
    border-radius: 4px;
    font-size: 12px;
    width: fit-content;
  }
  p{
    color: #111111;
  }
</style>