---
import { Image } from "astro:assets";
---
<div>

  <Image src="https://res.cloudinary.com/dliqpogct/image/upload/v1716559383/frontendmentor/image-qr-code_kr5x42.png" width="288" height="288" alt="QR Code" />
</div>
