---
import { Image } from "astro:assets";
import Qr from "../img/qr.png";
---
<div>

  <Image src="https://res.cloudinary.com/dliqpogct/image/upload/v1716559383/frontendmentor/image-qr-code_kr5x42.png" alt="qr code" width={288} height={288}/>
</div>
