---
import { Image } from "astro:assets";
---
<div>

  <Image src="https://res.cloudinary.com/dliqpogct/image/upload/v1716559383/frontendmentor/image-qr-code_kr5x42.png" alt="qr code" width={32} height={32} loading="eager"/>
  <span>Mario Chico</span>
</div>

<style>
  div{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: inherit;
    margin: 10px 0 0 0;
    align-items: center;
    font-weight: bold;
  }
</style>