---
import Header from "@sections/Header.astro"


let pageName = Astro.props.pageName
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageName}</title>
	</head>
	
	<body>
		<Header />
		<main>
			<slot/>
		</main>
		
	</body>
</html>
<style>
	:root{
	--recipe-text-color: #58524e;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	@font-face {
		font-family: 'FigtreeItalic';
		src: url('/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Figtree';
		src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Outfit';
		src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}
</style>